
*.exe
3rd_party/*
*.log
*.o
*.ppu
*.compiled
*.a
*.lps
core/res_*.inc
built_number.inc
code_hash.inc
demos/inputs/*.txt
demos/*.datastore*
*/lib/*/*.lfm
*.res
*.obj
regTest/regTest.datastore0
regTest/testLog.datastore0
*.png
*.or
*/backup/*
mnh
mnh_debug
mnh_light
mnh_light_debug
versions/*.7z
