*.7z
*.bak
*.dll
*.exe
*.html
*.last
*.o
*.or
*.png
*.ppu
*.settings
Thumbs.db
core/code_hash.inc
demos/inputs/kjv.txt
demos/inputs/unixdict.txt
doTests.bat
doc/style.css
gui/lib/i386-win32/*
gui/lib/x86_64-win64/*
regTest/*.last
setup.mnh
ignored/*
gui/mnh_gui.lps
make*.log.txt
core/res_*.inc
core/res_html_template.inc
core/res_examples.inc
gui/lib/x86_64-linux/*
gui/mnh
gui/mnh_debug
demos/*.testLog
