#ignore thumbnails created by windows
Thumbs.db
#ignore binaries
*.exe
*.ppu
*.o
*.res
*.settings
*.dll
*.or
#ignore images and backups
*.png
*.7z
*.bak
#ignore Lazarus Project state
*.lps
gui/mnh_gui.lps
