body {
  padding-left: 1em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: black;
  background-color: #EEEEEE}
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
code { font-family: Courier-New, Courier; white-space: pre }
a:link {
  color: #0000FF }
a:visited {
  color: #000066 }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
table { display: inline-table}
.oben    { vertical-align:top}
.red {color:#FF0000}
.ruleHead  { vertical-align:top; background-color: #DDDDDD}
.identifier{color:#0000FF}
.builtin{color:#0000FF;font-weight:bold}
.modifier{color:#FF8800;font-weight:bold}
.stringLiteral{color:#008800}
.literal{color:#FF0000}
.operator{color:#000088;font-weight:bold}
.comment{color:#666666;font-style:italic}
